body {
    margin: 0;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-family: georgia;
}
   
#doglopedia {
    background-color: rgba(242, 231, 125, 0.5);
    text-align: center;
    padding: 10px;
    color: rgb(169, 169, 134);
}

nav {
    margin-left: 150px;
    padding-bottom: 10px;
    padding-top: 20px;
}

a {
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration-style: dotted;
}

h1 {
    text-align: center;
}
    
#image {
    border-radius: 50%;
    border: 1px solid black;
    height: 300px;
    width: 300px;
    background-image: url(images/The-Boxer-Dog-HP-long.jpg);
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

hr {
    color: rgba(211, 211, 211, 0.5);
    border-bottom: 1px;
}

#hej {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#boy {
    font-style: italic;
}
   
